@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedPopup/_Layout.cshtml";
}

@Html.Partial("ProjectSelector")

@*<span>Previously Visited: @(ViewBag.PreviouslyVisited == null ? "Never" : ViewBag.PreviouslyVisited.ToString("g"))</span>
Group Last Visited: <select name="OtherVisitors">
	@foreach(var visitor in @ViewBag.GroupLastVisited) {
       <option>@visitor.UserName - @String.Format("{0:g}", visitor.LastVisit.Value)</option>
    }
</select>*@

